#wpadminbar,
.wp-admin ul#adminmenu,
.wp-admin .contextual-help-sidebar,
.wp-admin .help-tab-content,
.wp-admin .active,
.wp-admin .add-buttons-title,
.wp-admin .updated_base,
.wp-admin .selection-error-label,
.wp-admin .selection-error-filename,
.wp-admin .selection-error-message,
.wp-admin .details,
.wp-admin .instructions,
.wp-admin code,
.wp-admin p,
.wp-admin a,
.wp-admin h1,
.wp-admin h2,
.wp-admin h3,
.wp-admin h4,
.wp-admin h5,
.wp-admin h6,
.wp-admin input,
.wp-admin label,
.wp-admin button,
.wp-admin select,
.wp-admin .description,
.wp-admin textarea,
.wp-admin form,
.wp-admin th,
.wp-admin .username,
.wp-admin .display-name,
.wp-admin #published-posts,
.wp-admin span.editor-block-inspector__no-blocks.block-editor-block-inspector__no-blocks,
.wp-admin .table-of-contents__counts,
.wp-admin input,
.wp-admin td,
.wp-admin .manage-menus,
.wp-admin .widget-description,
.wp-admin ul,
.wp-admin li,
.wp-admin .rtl #wpadminbar *,.editor-styles-wrapper > *,
.wp-admin .editor-styles-wrapper p,
.wp-admin .editor-styles-wrapper ol,
.wp-admin .editor-styles-wrapper ul,
.wp-admin .editor-styles-wrapper dl,
.wp-admin .editor-styles-wrapper dt,
.wp-admin .editor-post-title__block .editor-post-title__input,
.wp-admin .editor-styles-wrapper .wp-block h1,
.wp-admin .editor-styles-wrapper .wp-block h2,
.wp-admin .editor-styles-wrapper .wp-block h3,
.wp-admin .editor-styles-wrapper .wp-block h4,
.wp-admin .editor-styles-wrapper .wp-block h5,
.wp-admin .editor-styles-wrapper .wp-block h6,
.wp-admin .editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter,
.wp-admin .editor-styles-wrapper cite,
.wp-admin .editor-styles-wrapper figcaption,
.wp-admin .editor-styles-wrapper .wp-caption-text,
.wp-admin .editor-post-title__block .editor-post-title__input,
.wp-admin .editor-styles-wrapper .wp-block h1,
.wp-admin .editor-styles-wrapper .wp-block h2,
.wp-admin .editor-styles-wrapper .wp-block h3,
.wp-admin .editor-styles-wrapper .wp-block h4,
.wp-admin .editor-styles-wrapper .wp-block h5,
.wp-admin .editor-styles-wrapper .wp-block h6,
.wp-admin .editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter,
.wp-admin .editor-styles-wrapper cite,
.wp-admin .editor-styles-wrapper figcaption,
.wp-admin .editor-styles-wrapper .wp-caption-text,
.wp-admin .components-form-token-field__input-container,
body.rtl.wp-admin,
body.rtl.wp-admin .press-this a.wp-switch-editor,
.wp-admin .wp-block-nextpage>span,
.admino-login-page-plugin ul#adminmenu,
.admino-login-page-plugin .contextual-help-sidebar,
.admino-login-page-plugin .help-tab-content,
.admino-login-page-plugin .active,
.admino-login-page-plugin .add-buttons-title,
.admino-login-page-plugin .updated_base,
.admino-login-page-plugin .selection-error-label,
.admino-login-page-plugin .selection-error-filename,
.admino-login-page-plugin .selection-error-message,
.admino-login-page-plugin .details,
.admino-login-page-plugin .instructions,
.admino-login-page-plugin code,
.admino-login-page-plugin p,
.admino-login-page-plugin a,
.admino-login-page-plugin h1,
.admino-login-page-plugin h2,
.admino-login-page-plugin h3,
.admino-login-page-plugin h4,
.admino-login-page-plugin h5,
.admino-login-page-plugin h6,
.admino-login-page-plugin input,
.admino-login-page-plugin label,
.admino-login-page-plugin button,
.admino-login-page-plugin select,
.admino-login-page-plugin .description,
.admino-login-page-plugin textarea,
.admino-login-page-plugin form,
.admino-login-page-plugin th,
.admino-login-page-plugin .username,
.admino-login-page-plugin .display-name,
.admino-login-page-plugin #published-posts,
.admino-login-page-plugin span.editor-block-inspector__no-blocks.block-editor-block-inspector__no-blocks,
.admino-login-page-plugin .table-of-contents__counts,
.admino-login-page-plugin input,
.admino-login-page-plugin td,
.admino-login-page-plugin .manage-menus,
.admino-login-page-plugin .widget-description,
.admino-login-page-plugin ul,
.admino-login-page-plugin li,
.admino-login-page-plugin .rtl #wpadminbar *,
.admino-login-page-plugin .editor-styles-wrapper > *,
.admino-login-page-plugin .editor-styles-wrapper p,
.admino-login-page-plugin .editor-styles-wrapper ol,
.admino-login-page-plugin .editor-styles-wrapper ul,
.admino-login-page-plugin .editor-styles-wrapper dl,
.admino-login-page-plugin .editor-styles-wrapper dt,
.admino-login-page-plugin .editor-post-title__block .editor-post-title__input,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h1,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h2,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h3,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h4,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h5,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h6,
.admino-login-page-plugin .editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter,
.admino-login-page-plugin .editor-styles-wrapper cite,
.admino-login-page-plugin .editor-styles-wrapper figcaption,
.admino-login-page-plugin .editor-styles-wrapper .wp-caption-text,
.admino-login-page-plugin .editor-post-title__block .editor-post-title__input,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h1,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h2,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h3,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h4,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h5,
.admino-login-page-plugin .editor-styles-wrapper .wp-block h6,
.admino-login-page-plugin .editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter,
.admino-login-page-plugin .editor-styles-wrapper cite,
.admino-login-page-plugin .editor-styles-wrapper figcaption,
.admino-login-page-plugin .editor-styles-wrapper .wp-caption-text,
.admino-login-page-plugin .components-form-token-field__input-container,
body.rtl.admino-login-page-plugin,
body.rtl.admino-login-page-plugin .press-this a.wp-switch-editor,
.admino-login-page-plugin .wp-block-nextpage>span,
#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon,
#wpadminbar,
#wpadminbar ul#adminmenu,
#wpadminbar .contextual-help-sidebar,
#wpadminbar .help-tab-content,
#wpadminbar .active,
#wpadminbar .add-buttons-title,
#wpadminbar .updated_base,
#wpadminbar .selection-error-label,
#wpadminbar .selection-error-filename,
#wpadminbar .selection-error-message,
#wpadminbar .details,
#wpadminbar .instructions,
#wpadminbar code,
#wpadminbar p,
#wpadminbar a,
#wpadminbar h1,
#wpadminbar h2,
#wpadminbar h3,
#wpadminbar h4,
#wpadminbar h5,
#wpadminbar h6,
#wpadminbar input,
#wpadminbar label,
#wpadminbar button,
#wpadminbar select,
#wpadminbar .description,
#wpadminbar textarea,
#wpadminbar form,
#wpadminbar th,
#wpadminbar .username,
#wpadminbar .display-name,
#wpadminbar #published-posts,
#wpadminbar span.editor-block-inspector__no-blocks.block-editor-block-inspector__no-blocks,
#wpadminbar .table-of-contents__counts,
#wpadminbar input,
#wpadminbar td,
#wpadminbar .manage-menus,
#wpadminbar .widget-description,
#wpadminbar ul,
#wpadminbar li,
.rtl #wpadminbar *,
#wpadminbar .editor-styles-wrapper > *,
#wpadminbar .editor-styles-wrapper p,
#wpadminbar .editor-styles-wrapper ol,
#wpadminbar .editor-styles-wrapper ul,
#wpadminbar .editor-styles-wrapper dl,
#wpadminbar .editor-styles-wrapper dt,
#wpadminbar .editor-post-title__block .editor-post-title__input,
#wpadminbar .editor-styles-wrapper .wp-block h1,
#wpadminbar .editor-styles-wrapper .wp-block h2,
#wpadminbar .editor-styles-wrapper .wp-block h3,
#wpadminbar .editor-styles-wrapper .wp-block h4,
#wpadminbar .editor-styles-wrapper .wp-block h5,
#wpadminbar .editor-styles-wrapper .wp-block h6,
#wpadminbar .editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter,
#wpadminbar .editor-styles-wrapper cite,
#wpadminbar .editor-styles-wrapper figcaption,
#wpadminbar .editor-styles-wrapper .wp-caption-text,.editor-post-title__block .editor-post-title__input,
#wpadminbar .editor-styles-wrapper .wp-block h1,
#wpadminbar .editor-styles-wrapper .wp-block h2,
#wpadminbar .editor-styles-wrapper .wp-block h3,
#wpadminbar .editor-styles-wrapper .wp-block h4,
#wpadminbar .editor-styles-wrapper .wp-block h5,
#wpadminbar .editor-styles-wrapper .wp-block h6,
#wpadminbar .editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter,
#wpadminbar .editor-styles-wrapper cite,
#wpadminbar .editor-styles-wrapper figcaption,
#wpadminbar .editor-styles-wrapper .wp-caption-text,
#wpadminbar .components-form-token-field__input-container,
#wpadminbar .press-this a.wp-switch-editor,
#wpadminbar .wp-block-nextpage>span,
#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
    font-family: var(--admino-lite-font-family-name), sans-serif !important;
}
.dashicons,
.dashicons-before:before,
#wpadminbar .ab-icon,
#wpadminbar .ab-item:before,
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon,
.wp-admin-bar-arrow {
    font-family: dashicons !important;
}
#adminmenu #menu-posts-elementor_library .wp-menu-image:before,
#adminmenu #toplevel_page_elementor div.wp-menu-image:before {
    font-family: eicons !important;
}
#admino_options * {
    font-family: var(--admino-font-family-name), sans-serif !important;
}
